<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head"></head>
<body>
<div th:insert="~{fragments/common :: scripts}"></div>
<div th:replace="fragments/common :: navbar"></div>
<div class="container mt-5">
    <!--/*@thymesVar id="filter" type="java.util.String"*/-->
    <div class="form-row">
        <div class="form-group col-md-6">
            <form class="form-inline" method="get" action="/main">
                <input class="form-control" type="text" name="filter" th:value="${filter}" placeholder="Search by tag"/>
                <button class="btn btn-primary ml-2" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div th:insert="~{fragments/messageEdit :: editForm}"/>
    <br>
    <br>
   <div th:insert="~{fragments/messageList :: messageList}"/>
</div>
</body>
</html>
